<h2>Employees</h2>

<div *ngIf="(data$ | async)?.page as page">
  <ol>
    <li *ngFor="let employee of page.records">
      <a class="d-block" [routerLink]="employee.id">
        {{ employee.firstName }} {{ employee.lastName }} ({{ employee.age }}), {{ employee.role }}
      </a>
    </li>
  </ol>

  <ngb-pagination
    [collectionSize]="page.total"
    [page]="page.current"
    [pageSize]="page.size"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    (pageChange)="changePage($event, page)"
  ></ngb-pagination>
</div>
