<div *ngIf="(data$ | async)?.employee as employee">
  <header class="stn-title-bar">
    <h2>Employee</h2>
    <div class="stn-action-bar">
      <a role="button" class="btn btn-outline-info btn-sm" [routerLink]="['edit']">
        <i class="fas fa-pencil-alt fa-fw"></i>
        Edit
      </a>
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(employee)">
        <i class="far fa-trash-alt fa-fw"></i>
        Delete
      </button>
    </div>
  </header>

  <figure class="stn-card">
    <img src="assets/images/default-profile.png" />
    <figcaption class="stn-card-content">
      <h3 class="stn-title stn-big">{{ employee.firstName }} {{ employee.lastName }}</h3>
      <p class="stn-sub-title  stn-big" >{{ employee.role }}</p>
      <p>age: {{ employee.age }}</p>
      <p>updated: {{ employee.lastModified | date: 'medium'}}</p>
    </figcaption>
  </figure>
</div>
