//reset
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  color: $title-color;
  font-weight: bold;
  font-size: 1.2em;
}

ul,
ol {
  @extend .list-unstyled;
  padding: 0;
  margin: 0;
}

//mixins
@mixin card-frame {
  overflow: hidden;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  margin: map-get($spacers, 1) !important;
}

@mixin text-ellipsis {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

//default
body,
html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  min-height: 100vh !important;
  height: min-content;
  background-color: $secondary;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;

  main.container {
    padding: 0;

    > *:not(:first-child) {
      padding: 0 15px;
    }
  }

  main,
  #main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: min-content;
    margin-top: map-get($spacers, 3);
    margin-bottom: map-get($spacers, 3);

    > section,
    .stn-fill {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .stn-fill-row {
      flex: 1;
      display: flex;
      flex-direction: row;
    }

    .stn-child {
      flex: 1;
    }
  }
}

[stn-header] {
  text-align: center;
  background-color: $primary;
  padding: map-get($spacers, 3);
}

*[stn-home] {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: min-content;
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto;
  padding: map-get($spacers, 4);
  background-color: white;
  @include card-frame;

  > *:not(:first-child) {
    margin-top: map-get($spacers, 4);
  }

  > p {
    max-width: 600px;
  }

  > *:first-child {
    font-size: 2em;
    color: $primary;
  }
}

*[stn-footer] {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: map-get($spacers, 3);

  .stn-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .stn-copyright {
    p {
      padding: 0;
      margin: 0;
    }

    color: $secondary;
    background-color: #313131;
    padding: map-get($spacers, 2);
  }
}

*[stn-employee-detail]{
  .stn-card{
    margin-top: 121px!important;
    overflow: visible;
    text-align: center;
    img{
      background-color: cornsilk;
      border: 10px solid white;
      width: 222px;
      height: 222px;
      align-self: center;
      border-radius: 50%;
      margin-top: -111px;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
  }
}
*[stn-employee-form]{
  .stn-card{
    padding: map-get($spacers, 4);
  }
  .form-row:not(:first-child){
    margin-top: map-get($spacers, 2);
  }
  .stn-action-bar {
    margin-top: map-get($spacers, 4);
    text-align: right;
  }
}
//customs
.stn-logo {
  margin: 0;
  @extend .text-white;
  @extend .text-decoration-none;
  @extend .font-weight-bold;
  font-size: 2em;
  letter-spacing: -0.03em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: white;

  > *:first-child {
    color: white !important;
  }
}
.stn-title{
  text-transform: capitalize;
  color: $primary;
  font-weight: bold;

  &.stn-big {
    font-size: 1.7em;
  }
}

.stn-sub-title{
  font-size: 0.9em;
  //font-weight: bold;
  color: #777;
  &.stn-big {
    font-size: 1.1em;
  }
}

.stn-title-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: map-get($spacers, 3);

  > *:first-child {
    font-size: 2em;
    margin: 0;
  }
}

.stn-action-bar {
  text-align: center;

  > *:not(:first-child) {
    margin-left: map-get($spacers, 1);
  }
}

.stn-tool-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: map-get($spacers, 3);
  margin-bottom: map-get($spacers, 3);

  > * {
    margin: map-get($spacers, 1);
  }
}

.stn-card {
  @include card-frame;
  flex: 1;
  display: flex;
  flex-direction: column;

  .stn-card-picture {
  }

  .stn-card-content {
    flex: 1;
    padding: map-get($spacers, 2) !important;
  }
}

.stn-item-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.stn-item {
  display: flex;
  flex-direction: column;

  &, img{
    width: 222px;
  }

  .stn-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .stn-item-info-content {
    h6,
    span {
      @include text-ellipsis;
    }

    margin-bottom: map-get($spacers, 2) !important;
  }
}

ngb-pagination {
  margin-top: map-get($spacers, 3);
  display: flex;
  justify-content: center;
}
