<div class="container stn-contact">
  <section>
    <h4>
      <button (click)="load()" class="btn btn-light btn-sm">
        <i class="fas fa-sync-alt"></i>
      </button>
      Current Status
    </h4>
    <p>
      {{total}} Employees registered
    </p>
  </section>

  <section>
    <h4>Support</h4>
    <p><i class="fas fa-phone"></i> Help Desk: <a href="tel:+01-562-867-5309" rel="nofollow">1-562-867-5309</a></p>
  </section>
</div>

<div class="stn-copyright">
  <section class="container">
    <p>
      Copyright © 2019 Stone's Employees Manager
    </p>
  </section>
</div>
