$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$primary: #0b903d;
$secondary: #f8f9fd;

//override
$font-size-base: .93rem !default;
$font-family-base: Roboto, "Helvetica Neue", sans-serif !default;
$body-color: #313131 !default;
$title-color: #464646 !default;






