<h2>Employee Form</h2>
<form *ngIf="(data$ | async)?.employee as employee">
  <h4 *ngIf="employee.id; else creationTitle">Edit</h4>
  <ng-template #creationTitle>
    <h4>Create</h4>
  </ng-template>
  <div>
    <label for="fistName">First Name:</label>
    <input type="text" id="fistName" name="fistName" [(ngModel)]="employee.firstName" />
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="employee.lastName" />
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" [(ngModel)]="employee.age" />
  </div>
  <div>
    <label for="role">Role:</label>
    <input type="text" id="role" name="role" [(ngModel)]="employee.role" #role />

    <select id="roleCombo" name="roleCombo" [(ngModel)]="employee.role">
      <option selected="selected" value=""></option>
      <option *ngFor="let role of (roles$ | async)" [value]="role">{{ role }}</option>
    </select>
  </div>
  <button type="reset" value="Reset">Reset</button>
  <button (click)="update(employee)" *ngIf="employee.id; else creationButton">
    Update
  </button>
  <ng-template #creationButton>
    <button (click)="save(employee)">
      Insert New
    </button>
  </ng-template>
</form>
